@charset "UTF-8";

// Colors
$black: #000;
$white: #fff;
$red: #e2061c;
$gray-light: #c9c8c8;
$gray: #838282;
$gray-dark: #333333;
$blue: #253652;

// Corp-Colors
$corp-color: $blue !default;
$corp-color-dark: darken($corp-color, 15%) !default;
$corp-color-second: $red !default;
$corp-color-second-dark: darken($corp-color-second, 15%) !default;

// Font
$base-font-size: 1.8 !default;
$base-font-family: Helvetica, Arial, Sans-Serif !default;
$base-font-color: $gray-dark !default;

// Google fonts.
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
// Define the base fonts.
$open: 'Open Sans', Arial, sans-serif;

// Border
$base-border-radius: 2px !default;
$rounded-border-radius: 50% !default;
$base-border-color: $gray !default;

$text-styles: (
  // Page title.
  "site-font": (
    "desktop": ("font-family": $open, "font-size-rem": 13px, "font-weight": 400, "line-height-rem": 22px, "text-transform": none),
    "mobile":  ("font-family": $open, "font-size-rem": 13px, "font-weight": 400, "line-height-rem": 20px, "text-transform": none),
  ),

  "ups": (
    "desktop": ("font-family": $open, "font-size-rem": 13px, "font-weight": 300, "line-height-rem": 15px, "color": $white, "text-transform": none),
    "mobile":  ("font-family": $open, "font-size-rem": 11px, "font-weight": 300, "line-height-rem": 15px, "color": $white, "text-transform": none),
  ),
  "header-logo": (
    "desktop": ("font-family": $open, "font-size-rem": 40px, "font-weight": 700, "line-height-rem": 42px, "color": $black, "text-transform": uppercase, "letter-spacing": 6px, "text-decoration": none),
    "mobile":  ("font-family": $open, "font-size-rem": 26px, "font-weight": 700, "line-height-rem": 28px, "color": $black, "text-transform": uppercase, "letter-spacing": 4px, "text-decoration": none),
  ),
  "header-icons" : (
    "link":  ("font-family": $open, "font-size-rem": 10px, "font-weight": 400, "line-height-rem": 26px, "color": $black, "text-decoration": none, "text-transform": uppercase),
    "hover": ("font-family": $open, "font-size-rem": 10px, "font-weight": 400, "line-height-rem": 26px, "color": $black, "text-decoration": none, "text-transform": uppercase),
  ),
  "main-menu": (
    "close": ("font-family": $open, "font-size-rem": 14px, "font-weight": 400, "line-height-rem": 26px, "color": $white, "text-transform": uppercase),
    "link": (
      "desktop": ("font-family": $open, "font-size-rem": 15px, "font-weight": 400, "line-height-rem": 18px, "color": $black, "text-decoration": none, "text-transform": uppercase),
      "mobile":  ("font-family": $open, "font-size-rem": 18px, "font-weight": 400, "line-height-rem": 20px, "color": $black, "text-decoration": none),
    ),
    "link-hover": (
      "desktop": ("font-family": $open, "font-size-rem": 15px, "font-weight": 400, "line-height-rem": 18px, "color": #56a921, "text-decoration": none, "text-transform": uppercase),
      "mobile":  ("font-family": $open, "font-size-rem": 18px, "font-weight": 400, "line-height-rem": 20px, "color": #56a921, "text-decoration": none),
    ),
  ),
  "footer-logo": (
    "desktop": ("font-family": $open, "font-size-rem": 28px, "font-weight": 700, "line-height-rem": 26px, "color": $black, "letter-spacing": 4px, "text-decoration": none),
    "mobile":  ("font-family": $open, "font-size-rem": 20px, "font-weight": 700, "line-height-rem": 20px, "color": $black, "letter-spacing": 2px, "text-decoration": none),
  ),
  "footer-menu-cat": (
    "desktop": ("font-family": $open, "font-size-rem": 14px, "font-weight": 700, "line-height-rem": 26px, "color": $black),
    "mobile":  ("font-family": $open, "font-size-rem": 14px, "font-weight": 700, "line-height-rem": 26px, "color": $black),
  ),
  "footer-menu-company": (
    "desktop": ("font-family": $open, "font-size-rem": 14px, "font-weight": 400, "line-height-rem": 26px, "color": #5e5e5e),
    "mobile":  ("font-family": $open, "font-size-rem": 14px, "font-weight": 400, "line-height-rem": 26px, "color": #5e5e5e),
  ),
  "footer-menu-social": (
    "desktop": ("font-family": $open, "font-size-rem": 14px, "font-weight": 400, "line-height-rem": 36px, "color": #5e5e5e),
    "mobile":  ("font-family": $open, "font-size-rem": 14px, "font-weight": 400, "line-height-rem": 36px, "color": #5e5e5e),
  ),
);
